<span class="login-status">
    {% if grav.user.authenticated %}
	    {% set user_avatar = grav.user.getAvatarUrl() %}
			<img src="{{ '?' not in user_avatar ? user_avatar ~ '?s=20' : user_avatar }}" />
	        <strong>{{ grav.user.fullname ?: grav.user.username }}</strong>, <a class="logout" href="{{ uri.addNonce((base_url_relative ~ uri.path)|trim('/') ~ '/task' ~ config.system.param_sep ~ 'login.logout', 'logout-form', 'logout-nonce')|e }}">{{ 'PLUGIN_LOGIN.BTN_LOGOUT'|t }}</a>
	    {% else %}
	    	(not logged in)
    {% endif %}
</span>
